body {
    background-color: #1F2034;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #F741C4A1;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

#main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    height: 100%;
    background-color: #28253D;
    border-radius: 25px;
    width: 220px;
    padding-left: 10px;
    padding-top:40px;
    margin-left: 20px;
    font-size: 15px;
    /*border: 1px solid white;*/
}

nav .item {
    margin-top: 5px;
    padding:10px;
    padding-left:15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.5s ease;
    position: relative;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

nav .active >.item {
    background-color:#1F2034;
}

nav .item::before {
    transition: 0.5s ease;
    content: "";
    position: absolute;
    width:30px;
    height: 30px;
    right:-2px;
    top:-30px;
    background-color:transparent;
    box-shadow: 5px 5px 0 5px #1F203400;
    border-bottom-right-radius: 9999px;
}

nav .item::after {
    transition: 0.5s ease;
    content: "";
    position: absolute;
    width:30px;
    height: 30px;
    right:-2px;
    bottom:-30px;
    background-color:transparent;
    box-shadow: 5px -5px 0 5px #1F203400;
    border-top-right-radius: 9999px;
}

nav .active >.item::before {

    box-shadow: 5px 5px 0 5px #1F2034;
}

nav .active >.item::after {

    box-shadow: 5px -5px 0 5px #1F2034;
}

nav .item > div {
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

nav .item a {
    color: white;
    text-decoration: none;
    flex:4;
}